<%= partial(:errors, {locals: {obj: @agent} }) if @agent %>
<article class="profile">
  <header>
    <% if current_agent == @agent %>
      <h2 class='email'>
        <%= @agent.email %>
        <aside>(Only you can see your email)</aside>
      </h2>
    <% end %>
  </header>
  <section class='homepage'>
    <h2>
    <% if @agent.name.present? && @agent.url.present? %>
      <a href="<%= @agent.url %>" target="_blank"><%= @agent.name %></a>
    <% elsif !@agent.name.present? && @agent.url.present? %>
      <a href="<%= @agent.url %>" target="_blank">Homepage</a>
    <% elsif @agent.name.present? && !@agent.url.present? %>
      <span><%= @agent.name %></span>
    <% else %>
      <span>No name or homepage provided</span>
    <% end %>
    </h2>
  </section>
  <footer class="agent-points">
      <span id="point-symbol">&#9733;</span>
      <span><%= number_with_delimiter(@agent.points) %></span>
  </footer>
</article>

<% if current_agent == @agent %>
  <%= partial('form') %>
<% end %>

<% if @votes.present? %>
  <% @votes.each do |vote| %>
    <%= partial('vote/vote', {locals: {vote: vote}}) %>
  <% end %>
  
  <%= will_paginate @votes, :page_links => false,
                            :previous_label => '',
                            :next_label => 'Load more...' %>
<% end %>
