<% if logged_in? %>
  <div class='form-wrapper'>
    <p>Link to images on social media or your website</p>
    <% form_tag url_for(:post, :create), :id => 'post-form', :method => 'post' do %>
      <% field_set_tag(:class => 'form-group') do %>
        <%= label_tag(:url, :caption => 'Link to image') %>
        <%= url_field_tag(:url, :id => 'url') %>
      <% end %>
      <% field_set_tag(:class => 'form-group') do %>
        <%= label_tag(:tag, :caption => 'Description (hashtags welcome!)') %>
        <%= text_field_tag(:tag, :id => 'tag', :maxlength => 256) %>
      <% end %>
      <% field_set_tag(:class => 'form-group') do %>
        <%= label_tag(:submit, :caption => 'Links boost your SEO') %>
        <%= submit_tag('Add Image', :id => 'add-image-button') %>
      <% end %>
    <% end %>
  </div>
<% end %>
 
