<article id="post-<%= post.id %>">
  <header>
    <h1><%= post[:tag] %></h1>
    <% if !post.approved %>
      <h2 class="pending">Pending approval</h2>
    <% end %>
  </header>
  <section class="image">
    <img class="question-image" src="<%= post[:url] %>" alt="<%= post[:tag] %>">
  </section>
  <footer>
    <% if can_vote %>
      <button class="no" name="no" value="<%= post.id %>">No</button>
    <% end %>
    <div class="star-ratings" style="display: <%= can_vote ? 'none' : 'block' %>;">
      <div class="star-ratings-top" style="width: <%= post.rating %>%;">
        <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
      </div>
      <div class="star-ratings-bottom">
        <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
      </div>
    </div>
    <% if can_vote %>
      <button class="yes" name="yes" value="<%= post.id %>">Yes</button>
    <% end %>
  </footer>
</article>
