<article id="post-<%= post.id %>">
  <header>
    <h1><%= get_hash_tags(post[:tag]).html_safe %></h1>
    <% if !post.approved %>
      <h2 class="pending">Pending approval</h2>
    <% end %>
    <h3 class="owner">
      <a href="/agents/<%= post.agent.id %>">
        <%= post.agent.name.present? ? post.agent.name : 'Anonymous' %>
      </a>
    </h3>
  </header>
  <section class="image">
    <a href="/post/<%= post[:id] %>">
      <img class="question-image" src="<%= post[:url] %>" alt="<%= post[:tag] %>">
    </a>
  </section>
  <footer>
    <% if (post.yeses + post.nos) == 0 && !can_vote %>
      <h1>No one's answered</h1>
    <% end %>
    <% if can_vote %>
      <button class="no" name="no" value="<%= post.id %>">No</button>
    <% end %>
    <div class="results" style="display: <%= can_vote ? 'none' : 'block' %>;">
      <div class="percent-rating"><%= post.rating %>%</div>
      <div class="star-ratings">
        <div class="star-ratings-top" style="width: <%= post.rating %>%;">
          <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
        </div>
        <div class="star-ratings-bottom" style="width: <%= post.rating %>%;">
          <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
        </div>
      </div>
      <div class="details" style="display: <%= (post.yeses + post.nos) > 0 ? 'block' : 'none' %>;">
        <span class="nos"><%= post.nos %></span>
        <span class="operator">+</span>
        <span class="yeses"><%= post.yeses %></span>
        <span class="operator">=</span>
        <span class="total-votes"><%= post.yeses + post.nos %></span>
      </div>
    </div>
    <% if can_vote %>
      <button class="yes" name="yes" value="<%= post.id %>">Yes</button>
    <% end %>
  </footer>
</article>
