<article id="post-<%= post.id %>">
  <header><h1><%= post[:tag] %></h1></header>
  <section class="image">
    <img src="<%= post[:url] %>" alt="<%= post[:tag] %>">
  </section>
  <footer>
    <button class="no" name="no" value="<%= post.id %>">No</button>
    <div class="star-ratings-css">
      <div class="star-ratings-css-top">
        <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
      </div>
      <div class="star-ratings-css-bottom">
        <span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span><span>&#x2605;</span>
      </div>
    </div>
    <button class="yes" name="yes" value="<%= post.id %>">Yes</button>
  </footer>
</article>
