<article class="vote" id="vote-<%= vote.id %>">
  <span class="thumb">
    <a href="/post/<%= vote.post.id %>">
      <img src="<%= vote.post.url %>">
    </a>
  </span>
  <span class="agent">
    <a href="/agents/<%= vote.agent.id %>"><%= vote.agent.name || 'Anonymous' %></a>
  </span>
  <span class="change <%= vote.yes ? 'positive' : 'negative' %>">
    <%= vote.yes ? '+3' : '-1' %>
  </span>
</article>
