<article class="vote" id="vote-<%= vote.id %>">
  <div class="time-ago">
    <%= time_ago_in_words(vote.created_at) %> ago
  </div>
  <span class="thumb">
    <a href="/post/<%= vote.post.id %>">
      <img src="<%= vote.post.url %>">
    </a>
  </span>
  <span class="agent">
    <a href="/agents/<%= vote.agent.id %>"><%= vote.agent.name || 'Anonymous' %></a>
  </span>
  <span class="change <%= vote.yes ? 'positive' : 'negative' %>">
    <%= vote.yes ? '+' : '' %><%= vote.yes ? "#{ENV['YES_POINTS']}" : "#{ENV['NO_POINTS']}" %>
  </span>
</article>
