<nav>
  <% if logged_in? %>
    <div id="points">
      <a href="/agents/<%= agent_id %>">
        <span id="point-symbol">&#9733;</span>
        <span><%= number_with_delimiter(current_agent.points) %></span>
      </a>
    </div> 
    <% if session[:first_login] %>  
      <div id="attention-logged-in">&#11014;&#xFE0E;</div>
    <% end %>
  <% end %>
  <ul>
    <li id="question"><a href='/'><%= ENV['QUESTION'] %></a></li>
    <ul>
      <li><a class='<%= request.path_info == '/post' ? "active" : '' %>' href='/post'>Top Picks</a></h1></li>
      <% if logged_in? %>
        <li>
          <a class='<%= request.path_info == "/agents/#{agent_id}/posts" ? "active" : '' %>'
             href="/agents/<%= agent_id %>/posts">Your posts</a>
        </li>
        <ul>
          <li>
            <a class='<%= request.path_info == "/agents/#{agent_id}/yeses" ? "active" : '' %>'
               href="/agents/<%= agent_id %>/yeses">Yeses</a>
          </li>
          <li>
            <a class='<%= request.path_info == "/agents/#{agent_id}/nos" ? "active" : '' %>'
               href="/agents/<%= agent_id %>/nos">Nos</a>
          </li>
        </ul>
        <li><a href="/logout">Logout</a>
      <% else %>
        <li><a href='/login'>Login</a></li>
      <% end %>
    </ul>
  </ul>
  <% if !logged_in? && session[:home_visited].nil? %>
    <div id="attention-landing">&#11015;&#xFE0E;</div>
  <% end %>
  <h1><a href='/about'>Yes or no?</a></h1>
</nav>
