<%= partial(:errors, {locals: {obj: @agent}}) %>
<div class='form-wrapper'>
  <h2>Login or Sign Up</h2>
  <% form_tag '/login', :method => 'post' do %>
    <% field_set_tag(:class => 'form-group') do %>
      <%= label_tag(:email) %>
      <%= email_field_tag(:email, :id => 'email', :value => @agent.email, :required => true, :autofocus => true) %>
      <%= error_message_on @agent, :email, :class => "text-error", :prepend => "The email" %>
    <% end %>
    <% field_set_tag(:class => 'form-group') do %>
      <%= submit_tag('Next', :id => 'next-button') %>
    <% end %>
  <% end %>
  <p>First-time visitors are given instant access</p>
</div>
