<%= partial(:errors, {locals: {obj: @agent}}) %>
<div class='form-wrapper'>
  <% form_tag '/login/password', :method => 'post' do %>
    <%= hidden_field_tag(:email, :id => 'email', :value => @agent.email) %>
    <% field_set_tag(:class => 'form-group') do %>
      <%= label_tag(:password) %>
      <%= password_field_tag(:password, :id => 'password', :autofocus => 'autofocus') %>
    <% end %>
    <% field_set_tag(:class => 'form-group') do %>
      <%= submit_tag('Login', :id => 'login-button') %>
    <% end %>
  <% end %>
</div>

<div class='form-wrapper'>
  <% form_for(@agent, '/agents/create') do |f| %>
    <%= f.hidden_field(:email) %>
    <% field_set_tag(:class => 'form-group') do %>
      <%= submit_tag('Reset password', :id => 'reset-password') %>
    <% end %>
  <% end %>
</div>
