<!doctype html>
<html>
  <head>
    <title><%= ENV['QUESTION'] %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <% if @post %>
      <meta property="og:description" content="<%= @post.tag %>" />
      <meta property="og:title" content="<%= ENV['QUESTION'] %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.url %>" />
      <meta property="og:image" content="<%= @post.url %>" />
    <% end %>
  </head>
  <body>
    <%= partial(:menu, {locals: {agent_id: session[:agent_id]} }) %>
    <%= partial(:flash, {locals: {obj: flash} }) %>
    <main>
      <%= yield %>
    </main>
    <% if RACK_ENV == 'test' %>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/jquery-ujs.js"></script>
    <% else %>
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>
    <% end %>
    <script src="/javascripts/respond.js"></script>
  </body>
</html>
